*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
}
header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 120px;
    /* padding: 20px 0; */
 background-color:#484a4f  ;
}
.logo{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;

}
.menu{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
 
}
img{width: 20%;}
.menu ul{
    display: flex;
    width: 100%;
    height: 100%;
}
.menu li{
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    font-size: xx-large;
    font-weight: lighter;
    list-style: none;
    font-style: normal;
  transition: all 500ms;
    
}
button{width: 25%;
    height: 46px;
    color: black;
    background-color: #ccc;
    border-radius: 6%;}
.menu a{
    font-size: 20px;
    text-decoration: none;
    padding: 30px 0;
    color: white;

}
footer{
    justify-content: space-between;
   display: flex;
   font-size: 20px;
   height: 420px;
   background-color: #484a4f;
   color: white;
   width: 100%;
}
h4{font-size: 30px;
font-style: italic;
font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;}
.pp{
   font-size: 15px;
}
.cdao{
   width: 36%;
   left: 20%;
   
}

.A{width: 28px;
height: 30px;}
button{width: 95px;
    height: 46px;
    color: black;
    background-color: #ccc;
    border-radius: 6px;}




.c{
   text-align: center;
   margin-top: 20%;
 }
 h1{
   font-size: 50px;
   margin-left: 10%;
 }
 .p{
   font-size: 20px;
   margin-left: 10%;
 }
 .btn{
   background-color: rgb(75, 73, 73);
   border-radius: 10%;
   border: none;
   color: aliceblue;
   font-size: 20px;
 }
 button{
padding: 10px;
 }
 .row img{
   width: 80%;
   height: 60vh;
   margin-top: 60px;
   display: flex;
   text-align: center;
   margin-left: 10%;
 }
 .row{
  margin: auto;

   /* margin-left: 50px; */
   /* margin-right: 50px; */
 }
 .p1{
   font-size: 30px;
   margin-top: 10%;
   text-align: center;
   
 }
 .c1 .p1 {
   border-top: 1px solid black;
   margin-left: 25%;
   margin-right: 25%;
   border-bottom: 1px solid black;
 }
 .p3{
   font-size: 30px;
   text-align: center;
   margin-top:10px
 }
 .m1{
   text-align: center;
   margin-top: 60px;
   font-size: 30px;
 }
 .c2{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
 }
  .img1 {
   width: 50%;
   height: 55vh;
   background-image: url(./image/voiture.jpg);
   background-repeat: no-repeat;

  

   margin-left: 50px;
 }
 h6{
font-size: 15px;
 }
 .p2 {
   width: 50%;
   margin-left: 5%;
   
   /* margin-left: 50px; */

 }
 .sec{
   display: flex;
 }
.img2{
   width:50%;
   height: 55vh;
   background-image: url(./image/voiture6.jpg);
   margin-left:15%;
   margin-top: 1px;
   background-repeat: no-repeat;


 }

 .z1{
  text-align: center;
  margin-left: 10%;
 }


 .img3 {
   width: 50%;
   height: 55vh;
   background-image: url(./image/voiture3.jpg);
   /* text-align: center; */
   margin-left: 35px;
   margin-top: -1px;
   background-repeat: no-repeat;
 }
 .c4{
  display: flex;
   justify-content: center;
   align-items: center;
   width:90%;
 }
 .p5{
  text-align: center;
  margin-left: 5%;
 }
 .img4 {
   width: 50%;
   height: 55vh;
   background-image: url(./image/voiture5.jpg);
   margin-left: 30%;
   /* margin-top: -1px; */
   background-repeat: no-repeat;
 }
  .img5 {
   width: 50%;
   height: 55vh;
   background-image: url(./image/voiture.jpg);
   margin-left: 5%;
   background-repeat: no-repeat;
 }
 .col{
  text-align: center;
 }
 .vo{
  font-size: 20px;
 }
 h5{
  font-size: 25px;
 }
 .btns{
  width: 100px;
  background-color: rgb(51, 49, 49);
  color:aliceblue;
  font-size: 13px;
  /* padding-right: 8%;
  padding-left: 8%; */
  border-radius: 10px;
 }
 @media screen and ( max-width:700px) {
  .c2{
flex-direction:column;
  }
  .c3{
    flex-direction:column;
  }
  .c4{
    flex-direction:column;
  }
 

 }
 @media only screen and (max-width:730px){
  footer{flex-direction: column;
    align-items: center;
justify-content: center;
height: 1250px;}


  .bttt{
      width: 120%;
      margin-left: 110%;
      margin-top: -80%;
      display: flex;
  }
  .menu a{
      
      font-size: 17px;
      text-decoration: none;
      padding:-20px 55px;
      margin: 20px;
      color: white;
      margin-left: -160px;
      
      justify-content: space-between;
  
  }
  .menu a:hover{
      cursor: pointer 20px;
      width: 30px;
      color: cadetblue;
      width: 50px;
      height: 10px;
      background-color: aliceblue;
  }
  .menu a:focus{
      width: 60px;
      cursor: pointer 20px;
      font-size: 20px ;
      color: cadetblue;
      
      
  } 
 }
  
@media only screen and (max-width:600px){


  .menu a{
      
      font-size: 15px;
      text-decoration: none;
      padding:-50px -65px;
      margin: 5px;
      color: white;
      margin-left: -20px;
      justify-content: space-between;
      flex-direction: column;
  
      
  }
   }

  @media only screen and (max-width:1140px){
      hr{
        margin-left:20%;
        width: 63%;
      }
      .AS{
        display: flex;
        background-image: url("ass.jpg");
        /* width: 100%; */
        height: 600px;
        background-repeat: no-repeat;
        background-position: center;
        background-size: cover;
    }
    .LO{
        width:80%;
        margin-top: 20%;
        margin-left: 10%;
        }
        .exp{
            margin-left: 5%;
        }
        .sqr{
            flex-direction: column;
            width: 95%;
            margin-top: -10%;
        }
        .racine{
                width: 90%;
                margin-left:10% ;
        align-items: center;
        justify-content: center;
        }
        .tech{
            flex-direction: column;
            width: 100%;
        }
        #tec{
            width: 70%;
            margin-left: 30%;
        }
        #tof{width: 100%;}
        .clan{
            width: 90%;
        }
        #MOTEUR{width: 70%;}
        .nt{
    
            justify-content: center;
            align-items: center;
            width: 70%;
            margin-left: 20%;
        }
        .FEAT{
            font-size: 32px;
            width: 100%;
        
        }
        
        .BAQ{font-size: 183%;
            font-weight: 90;
            font-family:  sans-serif;
            width: 100%;}
        .QA{font-size: 143%;}
        .menu{
            width: 55%;
            height: 100%;
            display: flex;
            justify-content: center;
            align-items: center;
            color: white;
         font-size: 13px;
        }
    
        .cat{width: 100%;
        flex-direction: column;}
        .ntel{ font-size: 180%;}
        .nul{font-size: 140%;}
    
    }
  
   
  